html, body
{
  background: url('images/background.png');
}
body
{
  margin-top: 40px;
}
.page-header
{
  margin-bottom: 17px;
  border-bottom: 1px solid #DDD;
}
.page-header h1
{
  margin-bottom: 8px;
}
input[type="text"], input[type="number"], select
{
  margin-bottom: 10px;
}
fieldset
{
  margin-bottom: 17px;
}
legend
{
  margin-bottom: 10px;
}
.content
{
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  min-height: 500px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.container > footer
{
  color: #777;
  margin: 0;
  border-top: 0px;
  padding: 20px 0 15px 0;
}
