@model BolfTracker.Models.Game
@{    
    ViewBag.Title = "Create Game - Bolf Tracker";
}
<h2>
    Create Game</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Game</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Date, new { @class = "date" })
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
