@model IEnumerable<BolfTracker.Models.Game>
@{
    ViewBag.Title = "Games - Bolf Tracker";
}
<h2>
    Games</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
        </th>
        <th>
            Date
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
            <td>
                @String.Format("{0:d}", item.Date)
            </td>
        </tr>
    }
</table>
