@{
  ViewBag.Title = "Login - Bolf Tracker";
}
<div class="page-header">
  <h1>Login</h1>
</div>
@using (Html.BeginForm("Authenticate", "Player", FormMethod.Post))
{ 
  <label for="private-beta-code">
    Private Beta Code
  </label>
  <input type="password" id="private-beta-code" name="password" />
  <div>
    <input type="submit" class="btn btn-primary" value="Play Bolf!" />
  </div>
}
@section javascript {
  <script>
    $(function () {
      $("#private-beta-code").focus();
    });
  </script>
}
