@model BolfTracker.Models.Hole
@{
  ViewBag.Title = "Create Hole - Bolf Tracker";
}
<h1>
  Create Hole</h1>
@using (Html.BeginForm("Create", "Hole", FormMethod.Post, new { @class = "form-stacked" }))
{
  <fieldset>
    <legend></legend>
    @Html.LabelFor(model => model.Id, "Hole Number")
    @Html.EditorFor(model => model.Id, null, "holeNumber")
    @Html.LabelFor(model => model.Par)
    @Html.EditorFor(model => model.Par)
  </fieldset>
  <input type="submit" value="Create" class="btn primary" />
}