@model BolfTracker.Models.Hole
@{
  ViewBag.Title = "Create Hole - Bolf Tracker";
  ViewBag.Section = "Hole";
}
<div class="page-header">
  <h1>Create Hole</h1>
</div>
@using (Html.BeginForm("Create", "Hole", FormMethod.Post))
{
  @Html.LabelFor(model => model.Id, "Hole Number")
  @Html.EditorFor(model => model.Id, null, "holeNumber")
  @Html.LabelFor(model => model.Par)
  @Html.EditorFor(model => model.Par)
  <div>
    <input type="submit" class="btn btn-primary" value="Create" />
  </div>
}
