@model IList<BolfTracker.Models.PlayerBadges>


@foreach(var badge in Model)
{
    <div>
   </div>    
    
    
    <div class="row">
  <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
          <div class=" glyphicon glyphicon-star">@badge.Badge.Name</div>
         
      </a>
  </div>
  ...
</div>
    
}