@model BolfTracker.Models.Player
@{
  ViewBag.Title = "Create Player - Bolf Tracker";
}
<h1>
  Create Player</h1>
@using (Html.BeginForm("Create", "Player", FormMethod.Post, new { @class = "form-stacked" }))
{
  <fieldset>
    <legend></legend>
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
  </fieldset>
  <input type="submit" value="Create" class="btn primary" />
} 