@model BolfTracker.Models.Player
@{
  ViewBag.Title = "Create Player - Bolf Tracker";
}
<h2>
  Create Player</h2>
@using (Html.BeginForm())
{
  <fieldset>
    <legend>Player</legend>
    <div class="editor-label">
      @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Name)
    </div>
    <p>
      <input type="submit" value="Create" />
    </p>
  </fieldset>
}
<div>
  @Html.ActionLink("Back to List", "Index")
</div>
