@model BolfTracker.Web.PlayerViewModel
@{
  ViewBag.Title = "Player Details - Bolf Tracker";
}
<h2>
  @Model.Player.Name</h2>
<h3>
  Current Month Statistics</h3>
@if (Model.CurrentMonthPlayerStatistics != null)
{
  @Html.Partial("_PlayerStatistics", Model.CurrentMonthPlayerStatistics)
}
else
{ 
  <p>
    Monthly player stats not yet available.</p>
}
<h3>
  Current Month Hole Statistics</h3>
@if (Model.CurrentMonthPlayerHoleStatistics != null && Model.CurrentMonthPlayerHoleStatistics.Any())
{
  @Html.Partial("_PlayerHoleStatistics", Model.CurrentMonthPlayerHoleStatistics)
}
else
{ 
  <p>
    Monthly player hole stats not yet available.</p>
} 