@model BolfTracker.Web.PlayerViewModel
@{
    ViewBag.Title = "Player Details - Bolf Tracker";
}
<h2>
    Player Details</h2>
<fieldset>
    <legend>Player</legend>
    <div class="display-field">@Model.Player.Name</div>
</fieldset>
<fieldset>
    <legend>Current Month Statistics</legend>
    @Html.Partial("_PlayerStatistics", Model.CurrentMonthPlayerStatistics)
</fieldset>
<fieldset>
    <legend>Current Month Hole Statistics</legend>
    @Html.Partial("_PlayerHoleStatistics", Model.CurrentMonthPlayerHoleStatistics)
</fieldset>
