@model BolfTracker.Models.Player
@{
  ViewBag.Title = "Edit Player - Bolf Tracker";
}
<h1>
  Edit Player</h1>
@using (Html.BeginForm("Edit", "Player", FormMethod.Post, new { @class = "form-stacked" }))
{
  <fieldset>
    <legend></legend>
    @Html.HiddenFor(model => model.Id)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
  </fieldset>
  <input type="submit" value="Save" class="btn primary" />
} 