@{
    ViewBag.Title = "Login";
}
<h2>
    Login</h2>
@using (Html.BeginForm("Authenticate", "Player", FormMethod.Post))
{ 
    <div>
        <label>
            Enter Private Beta Code:</label><input type="password" name="password" />
    </div>
    
    <input type="submit" value="Play Bolf!" />
} 