@{
  ViewBag.Title = "Login - Bolf Tracker";
}
<h2>
  Login</h2>
@using (Html.BeginForm("Authenticate", "Player", FormMethod.Post, new { @class = "form-stacked" }))
{ 
  <label for="private-beta-code">
    Private Beta Code</label>
  <input type="password" id="private-beta-code" name="password" />
  <div class="actions">
    <input type="submit" class="btn primary" value="Play Bolf!" />
  </div>
}
@section javascriptrefs
{
  <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.7.min.js" type="text/javascript"></script>
}
@section javascript
{
  <script type="text/javascript">
    $(function () {
      $("#private-beta-code").focus();
    });
  </script>
}